// Article Body / Text
.article-info {
    width: 100%;
}


#article-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.article {
    padding: 0;
    max-width: 650px;
}

.article-header {
    margin-top: 0;
}

.article-content {
    margin: 0;
}

// Links 

.article-body a, .article-body a:visited {
    color: $color-secondary;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    transition: 0.1s;
}



.article-body a:hover {
    color: $color-tertiary;
    transition: 0.1s;
}

//Text styles

.article-body p {
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 1rem;
}

.article-body ul > ul, .article-body ol > ol, .article-body ol > ul, .article-body li > ul, .article-body ul {
    margin: 0.5rem 0 0.5rem;
    font-size: 1rem;
}

.article-body ol {
    margin: 0rem 0 1rem;
    font-size: 1rem;
}

.article-body li {
    margin-bottom: 0.5rem;
}

.article-body li::marker {
    color: $color-tertiary;
}

.article-body h4 {
    margin: 2rem 0rem 1rem;
    text-transform: uppercase;
}

.article-title {
    margin-bottom: 0rem;
}

// Image embed
.article-body img {
    margin: 2rem 0rem 1rem;
    border-radius: $border-radius;
    border: 1px black solid;
}



//Contact Tags

section.content-tags p {
    color: $color-secondary;
}

.content-tag-item a, .content-tag-item a:visited{
    text-transform: uppercase;
    color: $color-secondary;
    font-weight: bold;
    text-decoration: underline 2px;
    text-underline-offset: 6px;
}

.content-tag-item a:hover {
    color: $color-tertiary;
    transition: 0.1s;
}

// Video

iframe, .video-container iframe {
    box-sizing: border-box;
    border: black 0px solid;
    border-radius: $border-radius;
    background: black;
    overflow: hidden;
    max-width: 100%;
    height: auto;
        outline: 1px solid black;
        aspect-ratio: 16 / 9;
        border-style: none!important;
}

.video-container {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    position: relative;
}

.video-container-vertical {
    aspect-ratio: 9 / 16;
    max-width: 100%;
    height: auto;
    position: relative;
    max-height: 90vh;
}

iframe, .video-container-vertical iframe {
    box-sizing: border-box;
    border: black 0px solid;
    border-radius: $border-radius;
    background: black;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
        outline: 1px solid black;
        aspect-ratio: 9 / 16;
        border-style: none!important;
}


.article-body div {
    margin: 1rem 0rem 2rem;
}



//Callout-Block
.article-body pre {
    margin: 3rem 0 3rem;
    font-family: 'Benton Sans', sans-serif;
    font-size: 1rem;
    background: $color-secondary;
    color: $color-primary;
    padding: 1rem 1rem 1.5rem;
    white-space: normal;
    border-radius: $border-radius;
    position: relative;
    overflow: visible;
}

.article-body pre code {
    margin: 3rem 0 3rem;
    font-family: 'Benton Sans', sans-serif;
    font-size: 1rem;
    color: $color-primary;
    padding: 1rem 1rem 1.5rem;
    white-space: normal;
    border-radius: $border-radius;
    position: relative;
    overflow: visible;
    padding: 0;
}


.article-body pre span {
    white-space: normal!important;
}

.article-body pre::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("$assets-raster-tile-png");
    background-size: 20px;
    background-repeat: repeat;
  transform: rotate(-0.8deg) translateX(0.5rem) translateY(0.5rem);
    border-radius: $border-radius;
}

.article-body pre a, .article-body pre a:visited {
    color: $color-primary;
    transition: 0.1s;
}

.article-body pre a:hover {
    color: $color-tertiary;
    transition: 0.1s;
}

//Special Callout-Block

p.callout-block {
    margin: 3rem 0 3rem;
    font-family: 'Benton Sans', sans-serif;
    font-size: 1rem;
    background: $color-secondary;
    color: $color-primary;
    padding: 1rem 1rem 1.5rem;
    position: relative;
    overflow: visible;
    border-radius: $border-radius;
}
p.callout-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("$assets-raster-tile-png");
    background-size: 20px;
    background-repeat: repeat;
  transform: rotate(-0.8deg) translateX(0.5rem) translateY(0.5rem);
    border-radius: $border-radius;
}

p.callout-block a, p.callout-block a:visited {
    color: $color-primary;
    transition: 0.1s;
}

p.callout-block a:hover {
    color: $color-tertiary;
    transition: 0.1s;
}
// Table Styling

table {
    margin: 2rem 0;
    font-family: 'Benton Sans', sans-serif;
    font-size: 0.95rem;
    background: $color-table;
    color: $color-secondary;
    padding: 0rem;
    white-space: normal;
    border-radius: $border-radius;
    position: relative;
    overflow: visible;
    border: none;
    border-collapse: separate!important;
    border-spacing: 0;
    border: black 1px solid;

}



table::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("$assets-raster-tile-png");
    background-size: 20px;
    background-repeat: repeat;
  transform: rotate(-0.8deg) translateX(0.5rem) translateY(0.5rem);
    border-radius: $border-radius;

    
}

tbody {
    overflow: hidden;
    border-radius: $border-radius;
}

table td {
    padding: 1rem;
    border: none;
  
}

tr:not(:last-child) td {
    border-bottom: 1px solid black;
}


table tbody tr:first-child td:first-child {
    border-top-left-radius: $border-radius;
  }
  
  table tbody tr:first-child td:last-child {
    border-top-right-radius: $border-radius;
  }
  
  table tbody tr:last-child td:first-child {
    border-bottom-left-radius: $border-radius;
  }
  
  table tbody tr:last-child td:last-child {
    border-bottom-right-radius: $border-radius;
  }
