// Article Body / Text
.article-info {
    width: 100%;
}


#article-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.article {
    padding: 0;
    max-width: 650px;
}

.article-header {
    margin-top: 0;
}

.article-content {
    margin: 0;
}

// Links 

.article-body a, .article-body a:visited {
    color: $color-secondary;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}



.article-body a:hover {
    color: $color-tertiary;
}

//Text styles

.article-body p {
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 1rem;
}

.article-body ul > ul, .article-body ol > ol, .article-body ol > ul, .article-body li > ul, .article-body ul {
    margin: 0.5rem 0 0.5rem;
    font-size: 1rem;
}

.article-body ol {
    margin: 0rem 0 1rem;
    font-size: 1rem;
}

.article-body li {
    margin-bottom: 0.5rem;
}

.article-body li::marker {
    color: $color-tertiary;
}

.article-body h4 {
    margin: 2rem 0rem 1rem;
    text-transform: uppercase;
}

// Image embed
.article-body img {
    margin: 2rem 0rem 1rem;
    border-radius: $border-radius;
    border: 1px black solid;
}



//Contact Tags

section.content-tags p {
    color: $color-secondary;
}

.content-tag-item a, .content-tag-item a:visited{
    text-transform: uppercase;
    color: $color-secondary;
    font-weight: bold;
    text-decoration: underline 2px;
    text-underline-offset: 6px;
}

// Video

div.article-body div:has(> iframe) {
    margin: 1rem 0rem 2rem;
    border: 1px black solid;
    border-radius: $border-radius;
    background: black;
    overflow: hidden;
}

//Callout-Block
.article-body pre {
    margin: 2rem 0;
    font-family: 'Benton Sans', sans-serif;
    font-size: 1rem;
    background: $color-secondary;
    color: $color-primary;
    padding: 1rem;
    white-space: normal;
    border-radius: $border-radius;
    position: relative;
    overflow: visible;
}

.article-body pre span {
    white-space: normal!important;
}

.article-body pre::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("$assets-raster-tile-png");
    background-size: 20px;
    background-repeat: repeat;
  transform: rotate(-0.8deg) translateX(0.5rem) translateY(0.5rem);
    border-radius: $border-radius;
    
}
