$color-primary: #000;
$color-secondary: #fff;

body {
  background: url(./assets/images/background-tile.webp) fixed repeat;
   background-size: 16rem; 
    font-family: 'Benton Sans', sans-serif;
    color: $color-secondary;

}





