.contact-card-container {
    display: flex;
    gap: min(2rem, 3%);
    padding: 2rem 0;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}



.contact-card-wrapper {
    max-width: min(400px, 100%);
    align-self: center;
    flex: 1 0 340px;
    margin-top: 5rem;
    cursor: pointer;
}

.contact-card-image {
    aspect-ratio: 3 / 2;
    background-color: $color-card;
    border: black 1px solid;
    border-radius: $border-radius;
  
}

.heading-3d.contact {
    z-index: 3;
    font-size: min(15vw, 3rem);
    position: absolute;
    left: 50%;  
    transform: translateX(-50%) skewY(-8deg);
    top: -3rem;
    color: $color-secondary;
}

#contact-card-image-01 {
    background: url("$assets-icon-cta-downloads-svg");
    background-size: cover  ;
}

#contact-card-image-02 {
    background: url("$assets-icon-cta-support-svg");
    background-size: cover  ;
}


// Footer-Image

.contact-image {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    max-width: 1160px;
    aspect-ratio: 1920 / 464;
    background: url("$assets-tentaclegruppe-webp");
    background-size: contain;
}

.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    max-width: 1160px;
}

//animated cards on hover

a.contact-card {
   
}

.contact-card-image {
    position: relative;
    overflow: hidden;
}

.contact-card-image::before {
    
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: url("$assets-noise-button-webp") repeat; /* Uses your asset variable */
    background-size: auto;
    animation: animateGrain 0.2s steps(10) infinite;
    opacity: 0;              /* Hidden by default */
    pointer-events: none;    /* Allow clicks to pass through */
    z-index: 1;              /* Ensure the noise layer sits above the button content */
    }
    
    a.contact-card:hover .contact-card-image::before {
      opacity: 0.5;
    }
    
    @keyframes animateGrain { 0%, to {transform: translate(0);} 10% {transform: translate(-5%, -10%);} 20% {transform: translate(-15%, -20%);} 30% {transform: translate(-5%, -10%);} 40% {transform: translate(-15%, -20%);} 50% {transform: translate(-5%, -10%);} 60% {transform: translate(-15%, -20%);} 70% {transform: translate(-5%, -10%);} 80% {transform: translate(-15%, -20%);} 90% {transform: translate(-5%, -10%);} }
    