.header {
    height: auto;
    width: 90%;
    padding: 0;
}

.header-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0;
}

.header-help-desk {
    text-transform: uppercase;
    color: $color-secondary;
    font-size: 0.8rem;
    font-weight: 700;
    transform: translateY(-1px);
}

.header-help-desk-wrapper {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.header-help-desk-wrapper:link, .header-help-desk-wrapper:active, .header-help-desk-wrapper:visited {
    text-decoration: none;
}  

.header-help-desk:active, .header-help-desk:hover, .header-help-desk:visited {
    text-decoration: none;
    
} 




@media only screen and (max-width: 430px) {
    .header-wrapper {
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;

    }
}