/******** Hero ********/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-image: none;
  background-color: transparent;

}

.hero-inner {
  position: relative;
  top: auto;
  transform: none;
  width: 100%;
}

.section.hero {
  padding: 3rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: auto;
  align-items: center;
  width: 100%;

}

/******** Search ********/

.search {
  border: 0px;
}

.search::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url("$assets-raster-tile-png");
  background-size: 20px;
  background-repeat: repeat;
  transform: rotate(-0.8deg) translateX(0.5rem) translateY(0.5rem);
  border-radius: 0.5rem;
}

.search input[type="search"] {
  background-color: $color-secondary;
  border: 1px $color-primary solid;
  border-radius: 10px;
}

.hero-inner .search input[type="search"] {
  height: 3rem;
}

[dir="ltr"] .search .clear-button {
  background-color: $color-secondary;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid $color-primary;
  color: $color-primary;
}

[dir="ltr"] .search .clear-button:focus {
  color: initial;
  border: 1px solid $color-tertiary;
  box-shadow: none;
}

[dir="ltr"] .search-has-value input[type="search"] {
  border-right: 0px;
}

//Search: Autofill-Menu
zd-autocomplete {
  background: $color-secondary;
  color: $color-primary;
  border-radius: $border-radius;
}

zd-autocomplete-title-multibrand {
  color: $color-primary;
}

zd-autocomplete-multibrand zd-autocomplete-title-multibrand {
  color: $color-primary;
}


/******** Categories ********/

.container{
  width: 100%;
  padding: 0;
}

@media (min-width: 1160px) {
  .container {
    width: 100%;
  }

}

a.blocks-item-link {
  background-color: $color-card;
  color: $color-secondary;
  justify-content: flex-start;
  border: black 1px solid;
  gap: 0.25rem;
  padding: 0;
  border-radius: $border-radius;
  overflow: hidden;
}

.blocks-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url("$assets-raster-tile-png");
  background-size: 20px;
  background-repeat: repeat;
transform: rotate(-0.8deg) translateX(0.5rem) translateY(0.5rem);
  border-radius: $border-radius;
}

.blocks-item {
  border: none;
  position: relative;
}

.blocks-item:hover * {
  color: $color-secondary;
}

a.blocks-item-link:visited {
  background-color: $color-card;
  color: $color-secondary;
  transition: 200ms;
}

a.blocks-item-link:hover {
  transition: 200ms;
  background-color: black;
  color: $color-secondary;
}

a.blocks-item-link span {
  text-align: left;
}

.blocks-item-title {
  font-weight: 700;
}

//Grid

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 1.5rem 1rem;
}

.blocks-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: min(2rem, 3%);
  row-gap: 2rem;
  width: 100%;
}

.blocks-item {
  width: 100%; 
  margin: 0;

}

.blocks-item-description {
  font-size: 0.875rem;

}

.blocks-item-description:not(:empty) {
  margin-top: 0;
}

.blocks-item-link:focus {
  box-shadow: none;
  border-color: $color-tertiary;
}

@media (min-width: 768px) { 
  .blocks-list {
    margin: 0;
  }
}

//hoverstate cards

.card-image {
  overflow: hidden;
  position: relative;
}

a.blocks-item-link .card-image::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: url("$assets-noise-button-webp") repeat; /* Uses your asset variable */
  background-size: auto;
  animation: animateGrain 0.2s steps(10) infinite;
  opacity: 0;              /* Hidden by default */
  pointer-events: none;    /* Allow clicks to pass through */
  z-index: 1;              /* Ensure the noise layer sits above the button content */
  transition: 200ms;
  }


  a.blocks-item-link:hover .card-image::before {
    opacity: 0.5;
    transition: 200ms;
  }
// Icons

.knowledge-base .card-image {
  width: 100%;
  aspect-ratio: 3/2;
  background: rgb(0, 0, 0);
}

.card-image.cat-0 {
  background: url("$assets-icon-hardware-svg");
  background-color: #8ac0cb;
  background-size: cover;
}

.card-image.cat-1 {
  background: url("$assets-icon-software-svg");
  background-color: #8ac0cb;
  background-size: cover;
}

.card-image.cat-2 {
  background: url("$assets-icon-how-to-svg");
  background-color: #8ac0cb;
  background-size: cover;
}

.card-image.cat-3 {
  background: url("$assets-icon-service-svg");
  background-color: #8ac0cb;
  background-size: cover;
}