// Sidebar

.search-results-sidebar .sidenav-item:hover, .search-results-sidebar .sidenav-item.current {
    background: transparent;
    color: $color-secondary;
    transition: 200ms;
    border-radius: $border-radius;
    border: 1px $color-secondary solid;
}

.search-results-sidebar .sidenav-item {
    color: $color-secondary;
    transition: 200ms;
    padding: 0.8rem;
    border: 1px transparent solid;
}

.search-results-sidebar .multibrand-filter-list .doc-count {
    color: $color-secondary;
}

.sidenav-item.current .doc-count {
    color: $color-secondary;
}

//Breadcrumbs

.search-result-breadcrumbs {

}

.search-result-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.search-result-breadcrumbs li a {
    font-size: 0.6rem;
font-style: normal;
font-weight: 700;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.02188rem;
text-transform: uppercase;
color: $color-secondary;

text-underline-offset: 3px;
  text-decoration: underline 1px;

}

.search-results-list header {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.search-result-description {
    margin-top: 6px;
}

.search-result-title a {
    color: $color-secondary;
    font-size: 1.2rem;
}

.search-result-description em {
    color: $color-tertiary;
    font-style: normal;
}

.collapsible-sidebar-toggle{
    color: $color-secondary;
}

//No results

.search-results .no-results {
    color: $color-secondary;
    padding-top: 0rem;
    padding-bottom: 2.5rem;
}

.search-results .no-results .headline{
    color: $color-secondary;
    font-weight: 700;
}

.search-results .no-results .action-prompt{
    color: $color-secondary;
    font-weight: 400;
}

.search-results .no-results .action-prompt a:visited, .search-results .no-results .action-prompt a {
    color: $color-secondary;
    text-decoration: underline;
}