.article-list-item a {
    color: $color-secondary;
}

.section-tree-title a {
    color: $color-tertiary;
}

.icon-star {
    color: $color-tertiary;
}

.section-tree .see-all-articles {
    color: $color-tertiary;
}
