.category-container {
    width: 100%;
    justify-content: flex-start;
}

.category-content {
    width: 100%;
}

.article-list-item a {
    color: $color-secondary;
}

.section-tree-title a {
    color: $color-tertiary;
}

.icon-star {
    color: $color-tertiary;
}

.section-tree .see-all-articles {
    color: $color-tertiary;
}

.page-header-description {
    font-style: normal;
}